<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Rack::Response</title>
	</head>

	<body>
	 	<p><b>PRÁCTICA 2</b></p>

		<form action="/" method="post">
			<p><b>        USERNAME </b></p><input type="text" name="firstname"  value="" autofocus>
			<p><b>HOW MANY TWEETS? </b></p><input type="text" name="n" value="0">
			<input  type="submit" value="Submit" >
		</form>

		<p>Sus úlimos <%= @number %> Tweets :</p>
		<ol>
			<% @todo_tweet.each do |i| %> 
				<li id="col"><%= i %><br></li>
			<% end %>
		</ol>
	</body>
</html>